body {
	font-family: tahoma;
	font-size: 24px;
	color: #262E8D;
}

 #blocoMenu {
	background: #00A5FF;
	border-radius: 5px;
	height: 10%;
}

.logo {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main {
	width : 80%;
	margin : 0px auto;
}

button {
	width: 100%;
	height: 60px;
	background: #00A5FF;
	border-radius: 5px;
	margin-top: 45px;
	font-family: tahoma;
	font-size: 24px;
	color: #262E8D;
	box-shadow: 0px 0px 5px rgba(38, 46, 141, 0.7);
	transition: 0.3s;
}

button:hover {
	background: #262E8D;
	color: #00A5FF;
	box-shadow: 0px 0px 5px rgba(0, 165, 255, 0.7);
}

.img1 {
	float: left;
	width: 10%;
	margin-top: -50px;
}

.img4 {
	float: left;
	width: 10%;
	margin-top: -40px;
}

.rodape-top {
	width: 100%;
	height: 5px;
	clear: both;
}

#rodape {
	margin-top: 10px;
	background: #00A5FF;
	border-radius: 5px;
}

.img2 {
  width: 10%;
  height: auto;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {left:-20%; top:0px; opacity:0%;}
  100%  {left:0%; top:0px; opacity:100%;}
}

.img3 {
  width: 10%;
  height: auto;
  position: relative;
  animation-name: example1;
  animation-duration: 4s;
}

@keyframes example1 {
  0%   {left: 100%; top:0px; opacity:0%;}
  100%  {left: 0%; top:0px; opacity:100%;}
}

.card{
	width: 280px;
	height: 500px;
	background-color: #00A5FF;
	border: 2px solid #262E8D;
	box-shadow: 0px 0px 5px rgba(0, 165, 255, 0.7);
	border-radius: 5px;
	margin: 0px auto;
	margin-top: 15px;
}

.card img{
	border-radius: 5px;
	width: 280px;
	height: 162px;
}

.card_text {
	margin: 5px;
	text-align: center;
	font-size: 18px;
}

.card_button {
	width: 250px;
	margin: 0px auto;
}

.card_button button {
	float: left;
	width: 120px;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 4px;
	background: #262E8D;
	color: #00A5FF; 
}

.card_button button:hover {
	background: rgba(38, 46, 141, 0.7);
	color: rgb(0, 0, 255);
}

#card_video .card {
	float: left;
	margin: 5px;
	width: 350px;
	height: 250px;
}

.video {
	margin: 2px;
	width: 346px;
	height: 200px;
	border-radius: 5px;
}

#card_video .card_text {
	font-size: 20px;
}